body > div.title-container {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: calc(12px + 3.5vw);
   font-weight: 600;
}

body > div.title-container > div.title-character {
    display: inline-block;
}

@media only screen and (max-width: 254px) {
    body > div.title-container {
        font-size: calc(6px + 3.5vw);
    } 
}

@media only screen and (min-width: 319px) and (max-width: 381px) {
    body > div.title-container {
        font-size: calc(10px + 3.5vw);
    } 
}

@media only screen and (min-width: 255px) and (max-width: 318px) {
    body > div.title-container {
        font-size: calc(8px + 3.5vw);
    } 
}
/*
@media only screen and (min-width: 289px) and (max-width: 313px) {
    body > div.title-container {
        font-size: 1.2em;
    } 
}

@media only screen and (min-width: 314px) and (max-width: 337px) {
    body > div.title-container {
        font-size: 1.3em;
    } 
}

@media only screen and (min-width: 338px) and (max-width: 361px) {
    body > div.title-container {
        font-size: 1.4em;
    } 
}

@media only screen and (min-width: 362px) and (max-width: 385px) {
    body > div.title-container {
        font-size: 1.5em;
    } 
}*/

